* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  height: 9rem;
  font-size: 2rem;
}

.navbar-material {
  position: absolute;
  right: 9%;
}

.temperature {
  font-size: 2.2rem;
  position: relative;
  left: 1.5rem;
}

.another-page {
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 2rem;
  color: #eee8e8;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.another-page:hover {
  color: #3498db !important;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.fa-snowflake {
  color: #3498db;
  font-size: 1.5rem;
  margin-left: 2rem;
  -webkit-animation: snowMove linear 1s infinite;
          animation: snowMove linear 1s infinite;
}

@-webkit-keyframes snowMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes snowMove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container-bg {
  width: 100%;
  height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: -3%;
}

.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=text] {
  width: 70rem;
  border-radius: 15px;
  height: 4.8rem;
  background-color: #212529;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 2rem;
  padding: 2rem;
}

input[type=button] {
  background-color: #3498db;
  width: 11rem;
  height: 4.8rem;
  font-size: 2rem;
  color: #fff;
  border: none;
  border-radius: 13px;
  outline: none;
  position: absolute;
  right: 0px;
}

#day {
  position: relative;
  top: 14%;
  font-size: 1.5rem;
}

.box {
  position: relative;
  width: 48rem;
  height: 25rem;
  background-color: #212529;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: 1.7rem;
}

.box img {
  position: absolute;
  top: -2%;
  right: 2%;
}

#city {
  position: absolute;
  font-size: 3rem;
  top: 2rem;
  margin-left: -2rem;
  position: absolute;
  font-size: 3rem;
}

#maxTemp {
  margin-top: 3rem;
}

footer {
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  height: 3rem;
  background-color: #2c3e50;
  font-size: 1.5rem;
}

input[type=button]:hover {
  background-color: #61e661;
  color: #212529;
}
/*# sourceMappingURL=weather.css.map */